{% extends "template.html" %}
{% block body %}
<head>
  <title>Contact</title>
</head>
<h1>Contact Us</h1>

<h2>Tel: 083 2863 941</h2>

<h2>Address: College Rd</h2>

<h2>Send us an e-mail!</h2>

<form action="mailto:g00292346@gmit.ie" method="post" enctype="text/plain">
Name:<br>
<input type="text" name="name"><br>
E-mail:<br>
<input type="text" name="mail"><br>
Comment:<br>
<textarea name="comment" cols="40" rows="5"></textarea>
<br><br>
<input type="submit" value="Send">
<input type="reset" value="Reset">
</form>
 
{% endblock %}
